body {
  font-family: Verdana;
  background-color: Black;
  text-align: center;
  }

h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
}

h2  {
  color: white;
  font-size: 42px;
  font-weight: 300;
}

h3 {
  color: gray;
  font-size: 21px;
}
p {
    color: aquamarine;
    font-size: 15px
}

a {
  text-decoration: none;
}
