body {
  font-family: Verdana;
  background-color: Black;
  color: white;
  text-align: center;
  }
h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
}
p.link1 {
    color: aquamarine;
    font-size: 15px;
}
h2  {
  color: white;
  font-size: 42px;
  font-weight: 300;
}
h3 {
  color: gray;
  font-size: 21px;
}
#footer {
    color: gray;
    font-size: 21px;
    text-align: right;
}
