body {
  font-family: Verdana;
  }

.header{
    background-color: blue;
text-align:center;
}


h1 {
  color: blue;
  text-align: center;
  font-size: 30px;
}

h2,
h3,
p {
    color:white;
}


p,
li {
  font-size: 15px;
  font-weight: bold;
  
}


a {
  text-decoration: none;
}
